@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue @User.Identity?.Name</h1>
        <div class="row pt-2">
            <div class="col border border-2 border-dark rounded-5 m-5 p-5">
            <h2><i class="bi bi-book"></i> Consulter les livres</h2>
            <p>Consulter notre liste de livres disponibles.</p>
            <p><a class="btn btn-outline-dark" asp-controller="Livres" asp-action="Index">Consulter</a></p>
        </div>
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="col border border-2 border-dark rounded-5 m-5 p-5">
            <h2><i class="bi bi-clipboard"></i> Consulter vos emprunts et empruntez un livre.</h2>
            <p>Suivez vos emprunts en cours et empruntez un nouveau livre depuis votre interface de gestion d'emprunts.</p>
            <p><a class="btn btn-outline-dark" asp-controller="Emprunts" asp-action="Index">Réserver</a></p>
        </div>
    }
    </div>
</div>