@model MiniProjetBibliotheque.Models.Lecteur

@{
    ViewData["Title"] = "Create";
}

<h1 class="display-4">Créer un lecteur</h1>

<h4>Lecteur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="NomLecteur" class="form-control" placeholder="Nom" aria-required="true" />
                <label class="control-label">Nom</label>
                <span asp-validation-for="NomLecteur" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="PrenomLecteur" class="form-control" placeholder="Prénom" aria-required="true" />
                <label class="control-label">Prénom</label>
                <span asp-validation-for="PrenomLecteur" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" placeholder="Email" aria-required="true" />
                <label class="control-label">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="PhoneNumber" class="form-control" placeholder="Téléphone" aria-required="true" />
                <label class="control-label">Téléphone</label>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Adresse" class="form-control" placeholder="Adresse" aria-required="true" />
                <label asp-for="Adresse" class="control-label"></label>
                <span asp-validation-for="Adresse" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Créer" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
